<div class="packages-prices ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 image-background"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 content">
        <h1 class="heading">Packages and Prices</h1>
        <p class="main-line">When it comes to pricing, I like to keep things plain and simple. No hidden extras, no gimmicks just beautiful pictures your way... to cherish forever.</p>

          <div class="package">
            <h2 class="heading">Family/Individual portrait package</h2>
            <div>
              <ul>
                <li>Relaxed, personal session in your home or on location</li>
                <li>Up to 2 hours shooting time</li>
                <li>20 professionally hand crafted fully edited images</li>
              </ul>
              <div class="price">Only £195</div>
            </div>
            <div>
              <p class="additional">Further high resolution edited images can be purchased individually</p>
              <div class="price">£25/images</div>
            </div>
          </div>

          <div class="package">
            <h2 class="heading">Standard wedding package</h2>
            <div>
              <ul>
                <li>Free pre-wedding consultation; a friendly meeting where we have a chance to get to know each other, where we talk about the general plan, style, times places... this will set the stage for your big day so you will be more relaxed and most importantly natural</li>
                <li>Social documentary photography of your wedding up to 5 hours including preparation and open air photo shoot</li>
                <li>100-150 fully edited high resolution images on Disc</li>
              </ul>
              <div class="price">£795</div>
            </div>
          </div>

          <div class="package">
            <h2 class="heading">Additions:</h2>
            <div>
              <ul>
                <li>PRINTS - Any size you like, produced to your specification and quantity</li>
                <li>ALBUMS - Choice of beautiful album packages and coffee table books tailored to your individual requirements with a price to suit all budgets</li>
                <li>CANVAS - Wraps and framed canvas produced fade-free with an authentic gallery feel</li>
              </ul>
            </div>
          </div>

        <div class="bottom">I know that as like people as no portrait session or no weddings are the same. I will tailor a personalised package that suits your needs and your budget.</div>
      </div>
    </div>
  </div>
</div>