<section class="background-image">
  <img src="https://s3-eu-west-1.amazonaws.com/frikti/assets/_MG_0153.jpg">
</section>
<section class="packages-and-prices">
  <div class="container">
    <h1 class="heading">Packages and Prices</h1>
    <p>When it comes to pricing, I like to keep things plain and simple. No hidden extras, no gimmicks just beautiful pictures your way...to cherish forever.</p>

    <h2 class="heading">Family/Individual portrait package -- Only £149.00*</h2>

    <ul>
      <h3>What you get:</h3>
      <li>Professional photographer capturing your beautiful moments</li>
      <li>I’ll take as many pictures as you want</li>
      <li>Relaxed, personal session in your home or on location</li>
      <li>Up to 2 hours shooting time</li>
      <li>20 professionally hand crafted fully edited images delivered to you on disc</li>
    </ul>

    <ul>
      <h3>Additions:</h3>
      <li>IMAGES - Further high resolution fully edited images can be purchased individually</li>
      <li>PRINTS - Any size you like, produced to your specification and quantity</li>
      <li>ALBUMS - Choice of beautiful album packages and coffee table books tailored to your individual requirementswith a price to suit all budgets</li>
      <li>FRAMES - A huge range of contemporary and classic styles with a wide choice of materials</li>
      <li>CANVAS - Wraps and framed canvas produced fade-free with an authentic gallery feel</li>
    </ul>

    <p>Weddings, Birthdays, Parties, Bar/Bat Mitzvah, Christenings...</p>
    <p>Please <a href="/contacts/new">contact me</a> to discuss and I will be happy to tailor a package that suit your needs and your budget</p>
  </div>
</section>  