<div class="header header-color">
  <%= render :partial => 'layouts/navbar' %>
</div>

<% if notice %>
  <div class="alert">
    <%= notice %>
  </div>
<% end %>

<div class="contact container-fluid">
    <div class="user contact-form col-sm-offset-1 col-sm-4" id='contact'>
      <h1 class="heading">Contact</h1>
      <div class="info-contact">
        <p>Tel: <a  class="phone" href="tel:+4407725911807">0772 591 1807</a></p>

        <form action="//formspree.io/krisjphotographyuk@gmail.com" class="simple-form form-horizontal" method="POST">
            <label class="access" for="input-name">Name</label>
            <input type="text" name="name" id="input-name" placeholder="Name" required="required"><br>
            <label class="access" for="input-email">Email</label>
            <input type="email" name="reply-to" id="input-email" placeholder="Email" required="required"><br>
            <label class="access" for="input-message">Message</label>
            <textarea name="message" id="input-message" placeholder="Your message here..." required="required"></textarea>
            <input type="hidden" name="_next" value="/contacts/new" />
            <input type="hidden" name="_subject" value="KrisJPhotography" />
            <input type="text" name="_gotcha" class="gotcha" aria-hidden="true" />
            <div class="form-actions">
              <input type="submit" value="Send message" class="btn btn-primary" >
            </div>
        </form>

        <p class="hidden-sm">For Boudoir photography click <a href="//www.glamourhit.com">here</a>.</p>
      </div>
    </div>
    <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/contact-us/JR6B0572+-+Copy.jpg" media="(min-width: 768px)">
      <source srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/contact-us/JR6B0572+-+small.jpg" media="(max-width: 767px)">
    <!--[if IE 9]></video><![endif]-->
      <img class="contact-img rs-img" srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/contact-us/contact-small-screen.jpg" >
    </picture>
</div>

<%= render :partial =>'layouts/footer', locals: {visible: "visible"}%>
