.contact { 
  font-family: $fontRoboto;
  font-weight: 100;
  position: relative;

  h1 {
    @include breakpoint(sm) {
      margin-top: 10px;
    }

    @include breakpoint(md) {
      margin-top: inherit;
    }
  }

  .info-contact {
    p {
      @include breakpoint(sm) {
        color: $white;
      }
    }

    .phone {
      text-decoration: none;
      @include breakpoint(sm) {
        color: $white;
      }
    }
  }

  .contact-form {
    margin-bottom: 15px;

    @include breakpoint(sm) {
      margin-bottom: 0;
      position: absolute;
      z-index: 100;
      width: 30%;
    }

    @include breakpoint(md) {
      top: 9%;
    }

    @include breakpoint(lg) {
      top: 15%;
    }
  }

  .contact-img {
    position: relative;
    // opacity: 0.6;
    // filter: alpha(opacity=40);
  }

  .user {
    textarea {
      height: 90px;
    }

    input {
      width: 100%;

      @include breakpoint(lg) {
        width: 70%;
      }
    }

    .btn {
      border-radius: 0;
      width: 28%;
      font-weight: 100;
      min-width: 115px;

      &:hover {
        font-weight: normal;
      }
    }

    a {
      @include breakpoint(sm) {
        color: $white;
      }
    }
  }
}
