.packages-prices {

  .content {
    @include fontsize(18);
    font-family: $fontRoboto;
    font-weight: 200;
    color: $darkGreyColor;
    margin: 25px 0;
  }

  .main-line {
    @include fontsize(20);
    font-style: italic;
    margin-bottom: 40px;
  }

  h2 {
    @include fontsize(22);
  }

  ul {
    list-style: none;
    margin-bottom: 15px;
    padding-left: 0;

    @include breakpoint(sm) {
      padding-left: 15px;
    }
  }

  li {
    margin-top: 5px;

    &:before {
      @include fontsize(16);
      font-family: $fontAwesome;
      content: "\f00c";
      color: $headingColour;
      margin: 0 6px 0 10px;
    }
  }

  a {
    font-weight: 300;
  }

  .package {
    @include breakpoint(sm) {
      padding-left: 15px;
    }
  }

  .additional {
    @include breakpoint(sm) {
      padding-left: 15px;
    }
  }

  .price {
    @include fontsize(20);
    text-align: right;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 20px;
    padding-right: 30px;
  }
}
