<div class="header header-color">
  <%= render :partial => 'layouts/navbar' %>
</div>

<% if notice %>
  <div class="alert">
    <%= notice %>
  </div>
<% end %>

<div class="container-fluid">
  <div class="row about">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h1 class="heading">About Me</h1>
      <p>I would LOVE to invite you to a personal session where we can create timeless portraits together of you, your family and friends that you can keep for a lifetime.</p>
      <p>I would LOVE to show how wonderful you are. I want to find your very own beauty in the most natural way that I know shines from inside you.</p>
      <p>I would LOVE to create a unique point in your life where you have a moment to change the way you see yourself and boost your confidence.</p>
      <p>I LOVE the feeling when I see my customers reactions when I present their photos.  When they cannot stop smiling and thanking me for creating their stunning images... that is why I love being a photographer.</p>
      <p>I LOVE when we find a beautiful and strong connection between my client and I. Once a trust is formed, this can set the stage for some truly stunning images that can simply take you breath away. Many of the people I work with come back year after year to re-tell the story of their lives in Photographs.</p>
      <p>I LOVE to believe that every woman is beautiful and I want to teach you how to achieve this. I have created a separate and dedicated website for my Boudoir photography offering something special and unique, an experience that changes your life... Take a look here: <a href="//www.glamourhit.com">www.glamourhit.com</a></p>
      <div class="signature float-right">
        <span class="name">Kris</span>
        <span class="kisses">XX</span>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset='//s3-eu-west-1.amazonaws.com/frikti/assets/about-me/about-large-screen.jpg' media="(min-width: 1350px)">
        <source srcset='//s3-eu-west-1.amazonaws.com/frikti/assets/about-me/about-medium-screen.jpg' media="(min-width: 992px)">
        <source srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/about-me/about-large-screen.jpg" media="(min-width: 768px)">
        <source srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/about-me/about-medium-screen.jpg" media="(min-width: 480px)">
        <source srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/about-me/about-small-screen.jpg" media="(min-width: 200px)"> 
    <!--[if IE 9]></video><![endif]-->
        <img class="rs-img" srcset="//s3-eu-west-1.amazonaws.com/frikti/assets/about-me/about-small-screen.jpg" alt="">
      </picture>
    </div>
  </div>
</div>

<%= render :partial =>'layouts/footer', locals: {visible: "visible"}%>