<div class="container-fluid">
  <div class="row about">
    <div class="col-md-1"></div>
    <div class="col-md-4 column">
      <h1 class="heading">About Me</h1>
      <p>Originally from Hungary, now residing in the UK, I initially found my love for photography after realizing pictures can capture the soul of an event or moment.</p>
      <p>My philosophy about photography is to create pictures  that are worth more than a thousand words. I use my  camera as a tool to help others capture the most defining moments in their lives.</p>
      <p>My past and current client-based projects cover a broad  range of disciplines such as: children, weddings,  landscapes and portraits. I offer creativity, personal  attention and individuality to every client and project.</p>
      <p>As my passion is portrayed through my pictures, please  have a look and feel free to contact me.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <%= image_tag("frikti.jpg") %>
    </div>
  </div>
</div>