@import "mixins";
@import "variables";

.header {
  @include fontsize(16);
  font-family: $lithosPro;
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  z-index: 1;
  background: transparent;

  &.add-color {
    background: $white;
    position: relative;
  }

  .navbar { 
    height: $headerHeight;

    .navbar-brand { 
      height: auto; 
      padding: 15px 20px;
    }

    .navigation {

      .nav-links-list {
        padding: 2.5em 2em;
        margin: 0;
        color: $textColor;

        li {
          display: inline;
          text-transform: uppercase;
          list-style: none;

          &:first-child {
            &:before {
              display: none;
            }
          }

          &:before {
            content: "/";
            color: $pink;
            padding: 0 15px;
          }

          .current {
            color: $pink;
          }

          .page_link { 
            text-decoration: none; 

            &:hover, &:active, &:focus {
              transition: color .2s ease-in;
              color: $pink;
            }
          }
        }
      }
    }
  }
}