@import "mixins";
@import "variables";

.header {
  @include fontsize(16);
  font-family: $playfair;
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  z-index: 1;
  background: transparent;

  &.add-color {
    background: $white;
    position: static;
  }

  .navbar { 
    height: $headerHeight;

    .navbar-brand { 
      height: auto; 
      padding: 15px 20px;
    }

    .navigation {

      .nav-links-list {
        padding: 4.5em 2em;
        margin: 0;

        li {
          display: inline;
          text-transform: uppercase;
          list-style: none;
          margin-right: 25px;
          
          a {
            color: $headingColour;
          }

          &:first-child {
            &:before {
              display: none;
            }
          }

          .current {
            color: $greyLogoColour;
          }

          .page_link { 
            text-decoration: none; 

            &:hover, &:active, &:focus {
              transition: color .2s ease-in;
              color: $greyLogoColour;
            }
          }
        }
      }
    }
  }
}