//FONT
@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,700);
@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
@import url(//fonts.googleapis.com/css?family=Sacramento|Allura);

@import "font-awesome";
@font-face{
  font-family: "Lithos Pro";
  src: url("fonts/LithosPro-Regular.eot?#iefix");
  src: url("fonts/LithosPro-Regular.eot?#iefix") format("eot"), url("fonts/LithosPro-Regular.otf") format("otf");
}

//PAGES
$fontAwesome: 'FontAwesome';
$fontRoboto: 'Roboto', 'Arial', sans-serif;
$lithosPro: "Lithos Pro", 'Arial', sans-serif;
$sacramento: 'Sacramento', 'Times New Roman', cursive;
$allura: 'Allura', 'Times New Roman', cursive;
$playfair: 'Playfair Display', 'Times New Roman', serif;
$headerHeight: 170px;
$textColor: #000;
$headingColour: #755E37;
$white: #ffffff;
$mainColor: #755E37;
$greyColor: #c0c0c0;
$darkGreyColor: #484848;
$autofillBackground: #FAE6FB;
$greyLogoColour: #353535;
$greyWhiteText: #B7B0AB;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;