// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";


.about {
  img {
    width: 100%; 
  }

  .column {
    margin-top: 20px;
  }

  p {
    @include fontsize(18);
    font-family: $fontRoboto;
    font-weight: 200;
  }

  .signature {
    font-family: $sacramento;
    font-style: italic;
    position: relative;

    .name {
      @include fontsize(40);
      display: block;
      position: absolute;
      right: 25px;
    }

    .kisses {
      @include fontsize(22);
      font-family: $allura;
      position: absolute;
      right: 0;
      top: 45px;
    }
  }
}