/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a, a:hover { color: black; }

.header {
  position: fixed;
  width: 100%;
  height: 100px;
}

.navbar-brand { 
  height: auto; 
  padding: 15px 20px;
}

.nav-links-list {
  padding: 40px 20px;
  margin: 0;
}

.navigation li {
  display: inline;
  text-transform: uppercase;
  list-style: none;
  padding: 0 15px;
}

.page_link { text-decoration: none; }
