/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fancybox
 *= require_tree .
 *= require_self
 */
@import "variables";

html, body {
  height: 100%;
}

 a, a:hover { color: $textColor; }

.alert {
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.73);
  padding: 30px;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.success{}

.fail {}

.header {
  position: fixed;
  width: 100%;
  height: $headerHight;
  z-index: 1;
}

.navbar { height: $headerHight}

.navbar-brand { 
  height: auto; 
  padding: 15px 20px;
}

.nav-links-list {
  padding: 40px 20px;
  margin: 0;
}

.navigation {
  li {
    display: inline;
    text-transform: uppercase;
    list-style: none;
    padding: 0 15px;
  }
}

.page_link { text-decoration: none; }

.container {
  position: relative;
  top: 110px;
}


.main-heading {
  margin: 10px 0;

  h1 {
    display: inline-block;
    margin: 0;
  }
}

.images_collection {
  margin: 15px 0;
}


.thumb {
  display: inline-block;
  width: 250px;
  height: 250px;

  .btn {
    position: relative;
    bottom: 38px;
    right: 4px;

    &.edit_thumb {
      right: 8px;
    }
  }
}




