// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.contact-form {
  position: absolute;
  top: 300px;
  width: 100%;
  text-align: -webkit-center;
}

.contact-img {
  position: relative;
  opacity: 0.6;
  filter: alpha(opacity=40);
}

.info-contact {
  width: 25%;
}