.carousel, .item, .active, .carousel-inner { height: 100%; }

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.carousel-indicators { bottom: 90px; }

#image1 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/frikti/carousel/brenda.jpg');
}

#image2 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/frikti/carousel/glamour-girl.jpg');
}

#image3 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/frikti/carousel/wedding.jpg');
}

#image4 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/frikti/carousel/family.jpg');
}

#image5 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/frikti/carousel/kid.jpg');
}

#image6 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/frikti/carousel/blonde-girl.jpg');
}

#image7 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/frikti/carousel/girl.jpg');
}
