<footer class="footer container-fluid">
  <a href='/' class='footer-brand'><img src="https://s3-eu-west-1.amazonaws.com/frikti/assets/top_logo.png" /></a>
  <ul class="social">
    <li><img src="<%= asset_path( 'img0019.png' ) %>" /></li>
    <li><img src="<%= asset_path( 'img0020.png' ) %>" /></li>
    <li><img src="<%= asset_path( 'img0028.png' ) %>" /></li>
  </ul>
  <p>created by: <a href="https://github.com/elenagarrone">elenagarrone</a></p>
</footer>