<footer class="footer container-fluid<%if defined?(visible)%> visible<%end%>">
  <a href='/' class='footer-brand'><img src="//s3-eu-west-1.amazonaws.com/frikti/assets/icons-and-logo/logo-1.png" /></a>
  <ul class="social">
    <li><a href="//www.facebook.com/frikti" alt="follow me on facebook"><img src="//s3-eu-west-1.amazonaws.com/frikti/assets/icons-and-logo/img0019.png" /></a></li>
    <li><a href="//instagram.com/frikti" alt="follow me on instagram"><img src="//s3-eu-west-1.amazonaws.com/frikti/assets/icons-and-logo/img0020.png" /></a></li>
    <li><a href="//twitter.com/frikti" alt="follow me on twitter"><img src="//s3-eu-west-1.amazonaws.com/frikti/assets/icons-and-logo/img0028.png" /></a></li>
  </ul>
  <p>created by: <a href="https://github.com/elenagarrone">elenagarrone</a></p>
</footer>