<!DOCTYPE html>
<html>
  <head>
    <title>KrisJ Photography</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Photographer based in North London available for beautiful portrait pictures, family photo shoot and wedding photography.">
    <meta name="keywords" content="Wedding photographer London, Portrait photographer London, Family photographer London, KrisJ Photography">
    <link href="//s3-eu-west-1.amazonaws.com/frikti/assets/favicon.ico" rel="shortcut icon">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86128460-1', 'auto');
    ga('send', 'pageview');
  </script>
</html>
